* {
  margin: 0;
}
body {
  background-color: #f5f6fa;
}

.app__header {
  display: flex;
  align-items: center;
  margin-bottom: -50px;
  justify-content: space-between;
  margin-top: 0px;
}
.app__header > img {
  width: 200px;
  object-fit: contain;
  margin: 0 10px;
  margin-top: -100px;
  margin-bottom: 18px;
}
.app__stats {
  display: flex;
  justify-content: space-between;
}
.App {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}
.app__left {
  flex: 0.9;
}

@media (max-width: 990px) {
  .App {
    flex-direction: column;
  }
}
